.container{
    background-color: bisque;
    height: 97vh;
}
.main{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 20px;
}
li{
    list-style: none;
}

.main2{
    text-align: center;
    margin-top: 15%;
}
a{
    text-decoration: none;
}